<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='zh-CN' xml:lang='zh-CN' xmlns='http://www.w3.org/1999/xhtml'>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="Content-Language" content="zh-CN"/>
    <title>TestMe-便捷测试平台</title>
</head>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(${contextPath}/res/images/testme_01.gif);
}
-->
</style>

<link href="${contextPath}/res/css/css.css" rel="stylesheet" type="text/css" />
</head>
<SCRIPT language=JavaScript>
function imageShowProcess(idt){
    var nametu="xiaotu"+idt;
    var tp = document.getElementById(nametu);
    tp.src="${contextPath}/res/images/testme_02.gif";
	
	for(var i=1;i<=30;i++)
	{
	  var nametu2="xiaotu"+i;
	  if(i!=idt*1)
	  {
	    var tp2=document.getElementById('xiaotu'+i);
		if(tp2!=undefined)
	    {tp2.src="${contextPath}/res/images/testme_03.gif";}
	  }
	}
}

function listSubTreeProcess(idstr){
	var objectobj=document.all("subtree"+idstr);
	var imgobj=document.all("img"+idstr);
	if(objectobj.style.display=="none"){
		objectobj.style.display="";
		imgobj.src="${contextPath}/res/images/testme_05.gif";
	}
	else{
		objectobj.style.display="none";
		imgobj.src="${contextPath}/res/images/testme_04.gif";
	}
}

</SCRIPT>

<body>
<table width="198" border="0" cellpadding="0" cellspacing="0" class="left-table01">
  <tr>
    <TD>
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
		  <tr>
			<td width="207" height="55" background="${contextPath}/res/images/testme_nav01.gif">
				<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
				  <tr>
					<td width="25%" rowspan="2"><img src="${contextPath}/res/images/testme_06.gif" width="35" height="35" /></td>
					<td width="75%" height="22" class="left-font01">您好，<span class="left-font02">啸&nbsp;鹏</span></td>
				  </tr>
				  <tr>
					<td height="22" class="left-font01">
						[&nbsp;<a href="../user/logout" target="_top" class="left-font01">退出</a>&nbsp;]</td>
				  </tr>
				</table>
			</td>
		  </tr>
		</table>
		


		<!--  配置管理开始    -->
		<TABLE width="100%" border="0" cellpadding="0" cellspacing="0" class="left-table03">
          <tr>
            <td height="29">
				<table width="85%" border="0" align="center" cellpadding="0" cellspacing="0">
					<tr>
						<td width="8%"><img name="img1" id="img1" src="${contextPath}/res/images/testme_04.gif" width="8" height="11" /></td>
						<td width="92%">
								<a href="javascript:" target="mainFrame" class="left-font03" onClick="listSubTreeProcess('1');" >配置管理</a></td>
					</tr>
				</table>
			</td>
          </tr>		  
        </TABLE>
		<table id="subtree1" style="DISPLAY: none" width="80%" border="0" align="center" cellpadding="0" 
				cellspacing="0" class="left-table02">
				<tr>
				  <td width="9%" height="20" ><img id="xiaotu1" src="${contextPath}/res/images/testme_03.gif" width="8" height="12" /></td>
				  <td width="91%"><a href="${contextPath}/systemconfig/addSystemConfig" target="mainFrame" class="left-font03" onClick="imageShowProcess('1');">新增系统</a></td>
				</tr>
				<tr>
				  <td width="9%" height="20" ><img id="xiaotu2" src="${contextPath}/res/images/testme_03.gif" width="8" height="12" /></td>
				  <td width="91%"><a href="${contextPath}/systemconfig/systemConfigList" target="mainFrame" class="left-font03" onClick="imageShowProcess('2');">查询系统配置</a></td>
				</tr>
				<tr>
				  <td width="9%" height="20" ><img id="xiaotu3" src="${contextPath}/res/images/testme_03.gif" width="8" height="12" /></td>
				  <td width="91%"><a href="${contextPath}/systemconfig/addSystemRequiredProp" target="mainFrame" class="left-font03" onClick="imageShowProcess('3');">定义系统必要参数</a></td>
				</tr>
				<tr>
				  <td width="9%" height="20" ><img id="xiaotu4" src="${contextPath}/res/images/testme_03.gif" width="8" height="12" /></td>
				  <td width="91%"><a href="${contextPath}/systemconfig/importConfig" target="mainFrame" class="left-font03" onClick="imageShowProcess('4');">导入参数配置</a></td>
				</tr>
				<tr>
				  <td width="9%" height="20" ><img id="xiaotu5" src="${contextPath}/res/images/testme_03.gif" width="8" height="12" /></td>
				  <td width="91%"><a href="${contextPath}/systemconfig/configureSystemRequiredProp" target="mainFrame" class="left-font03" onClick="imageShowProcess('5');">配置系统必要参数</a></td>
				</tr>
				<tr>
				  <td width="9%" height="20" ><img id="xiaotu6" src="${contextPath}/res/images/testme_03.gif" width="8" height="12" /></td>
				  <td width="91%"><a href="${contextPath}/systemconfig/configList" target="mainFrame" class="left-font03" onClick="imageShowProcess('6');">查询参数配置</a></td>
				</tr>
		</table>
		<!--  配置管理结束    -->

		

		<!--  测试单元管理开始    -->
		<TABLE width="100%" border="0" cellpadding="0" cellspacing="0" class="left-table03">
          <tr>
            <td height="29">
				<table width="85%" border="0" align="center" cellpadding="0" cellspacing="0">
					<tr>
						<td width="8%"><img name="img2" id="img2" src="${contextPath}/res/images/testme_04.gif" width="8" height="11" /></td>
						<td width="92%">
								<a href="javascript:" target="mainFrame" class="left-font03" onClick="listSubTreeProcess('2');" >测试单元管理</a></td>
					</tr>
				</table>
			</td>
          </tr>		  
        </TABLE>
		<table id="subtree2" style="DISPLAY: none" width="80%" border="0" align="center" cellpadding="0" 
				cellspacing="0" class="left-table02">
				<tr>
				  <td width="9%" height="20" ><img id="xiaotu7" src="${contextPath}/res/images/testme_03.gif" width="8" height="12" /></td>
				  <td width="91%">
						<a href="${contextPath}/testunitmanage/testunitList" target="mainFrame" class="left-font03" onClick="imageShowProcess('7');">查询测试单元</a></td>
				</tr>
				<tr>
				  <td width="9%" height="20" ><img id="xiaotu8" src="${contextPath}/res/images/testme_03.gif" width="8" height="12" /></td>
				  <td width="91%">
					<a href="listtakexiaoxi.htm" target="mainFrame" class="left-font03" onClick="imageShowProcess('8');">新增测试单元</a></td>
				</tr>
      </table>
		<!--  测试单元管理结束    -->


		<!--  测试流程管理开始    -->
        <TABLE width="100%" border="0" cellpadding="0" cellspacing="0" class="left-table03">
          <tr>
            <td height="29">
				<table width="85%" border="0" align="center" cellpadding="0" cellspacing="0">
					<tr>
						<td width="8%"><img name="img3" id="img3" src="${contextPath}/res/images/testme_04.gif" width="8" height="11" /></td>
						<td width="92%">
								<a href="javascript:" target="mainFrame" class="left-font03" onClick="listSubTreeProcess('3');" >测试流程管理</a></td>
					</tr>
				</table>
			</td>
          </tr>		  
        </TABLE>
		<table id="subtree3" style="DISPLAY: none" width="80%" border="0" align="center" cellpadding="0" 
				cellspacing="0" class="left-table02">
				<tr>
				  <td width="9%" height="20" ><img id="xiaotu9" src="${contextPath}/res/images/testme_03.gif" width="8" height="12" /></td>
				  <td width="91%"><a href="${contextPath}/testflowmanage/testunitFlowList" target="mainFrame" class="left-font03" onClick="imageShowProcess('9');">查询测试流程</a></td>
				</tr>
				<tr>
				  <td width="9%" height="20" ><img id="xiaotu10" src="${contextPath}/res/images/testme_03.gif" width="8" height="12" /></td>
				  <td width="91%"><a href="${contextPath}/testflowmanage/addTestunitFlow" target="mainFrame" class="left-font03" onClick="imageShowProcess('10');">新增测试流程</a></td>
				</tr>
      </table>
		<!--  测试流程管理结束    -->

	  <!--  任务管理开始    -->
	  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="left-table03">
          <tr>
            <td height="29"><table width="85%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="8%" height="12"><img name="img4" id="img4" src="${contextPath}/res/images/testme_04.gif" width="8" height="11" /></td>
                  <td width="92%"><a href="javascript:" target="mainFrame" class="left-font03" onClick="listSubTreeProcess('4');" >任务管理</a></td>
                </tr>
            </table></td>
          </tr>
      </table>
	  
	  <table id="subtree4" style="DISPLAY: none" width="80%" border="0" align="center" cellpadding="0" cellspacing="0" class="left-table02">
		  <tr>
			  <td width="9%" height="20" ><img id="xiaotu11" src="${contextPath}/res/images/testme_03.gif" width="8" height="12" /></td>
			  <td width="91%"><a href="${contextPath}/taskmanage/init" target="mainFrame" class="left-font03" onClick="imageShowProcess('11');">查询任务</a></td>
		  </tr>
		<tr>
          <td width="9%" height="20" ><img id="xiaotu12" src="${contextPath}/res/images/testme_03.gif" width="8" height="12" /></td>
          <td width="91%"><a href="listkehuxinxi.html" target="mainFrame" class="left-font03" onClick="imageShowProcess('12');">新建任务</a></td>
        </tr>
      </table>
	  <!--  任务管理结束    -->
	  </TD>
  </tr>
</table>
</body>
</html>
