<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>编辑测试流程信息</title>
</head>
<script type="text/javascript" src="${contextPath}/res/common/commonConfig.js"></script>
<link href="${contextPath}/res/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body class="ContentBody">
<form  method="post" id="addTestunitFlowForm">
<div>
    <label name="resultMsg"><font color="red">$!resultMsg</font></label>
</div>
<div class="MainDiv">
<table width="99%" border="0" cellpadding="0" cellspacing="0" class="CContent">
  <tr>
      <th class="tablestyle_title" >测试流程信息页面</th>
  </tr>
  <tr>
    <td class="CPanel">
		<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
		<tr>
			<td width="100%">
				<fieldset style="height:100%;">
				<legend>新增测试流程</legend>
					  <table border="0" cellpadding="2" cellspacing="1" style="width:100%">
						  <tr>
							<td nowrap align="right" width="13%" height="30px">测试流程名称:</td>
							<td style="width:250px;height:30px"><input name="propCode" class="text" style="width:200px" type="text" /><span class="red"> *</span></td>
							<td nowrap align="right" width="13%" height="30px">测试流程编码:</td>
							<td style="width:250px;height:30px"><input name="propCode" class="text" style="width:200px" type="text" /><span class="red"> *</span></td>
						  </tr>
    					  <tr>
							<td nowrap align="right" width="13%" height="30px">测试流程标签:</td>
							<td style="width:250px;height:30px"><input name="propCode" class="text" style="width:200px" type="text" /><span class="red"> *</span></td>
    					    <td nowrap align="right" height="30px" width="13%">是否需要参数配置:</td>
							<td nowrap height="30px"><input type="radio" name="nullable" value="Y"/>是<input type="radio" name="nullable" value="N" checked="checked" />否</td>
						  </tr>
    					  <tr>
							<td nowrap align="right" width="13%" height="30px">所属系统:</td>
            				<td nowrap  height="30px" style="width:200px">
            					<select name="systemId" style="width:200px;height:25px">
            						  #foreach($systemDO in $systemDOList)
            							<option value="$!systemDO.id">$!systemDO.name</option>
            						  #end
            					</select>
            				</td>
						  </tr>
						  <tr>
    					    <td nowrap align="right">备注:</td>
    					    <td colspan="2"><textarea name="remark" rows="3" cols="80"></textarea></td>
    					  </tr>
					  </table>
					  <br />
				</fieldset>			
			</td>
		</tr>
		</table>
	 </td>
   </tr>
   <tr>
     <td colspan="2" align="center" height="50px">
		<input type="button" name="saveBtn" value="保存" class="button" onclick="submitFormProcess('addTestunitFlowForm','${contextPath}/testflowmanage/saveTestunitFlow');"/>　
		<a href="${contextPath}/testflowmanage/testunitFlowList" target="mainFrame" class="left-font03">查询测试流程信息</a>
     </td>
	</tr>
 </table>
</div>
</form>
</body>

</html>