<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>新增测试流程信息</title>
</head>
<script type="text/javascript" src="${contextPath}/res/common/commonConfig.js"></script>
<link href="${contextPath}/res/css/style.css" rel="stylesheet" type="text/css" />
</head>
<script>
function moveItem(source, target) {
    var choiceOptions = source.options;
    var selectedOptions = target.options;
	if(choiceOptions.length){
    	for (i = 0; i < (choiceOptions.length); i++) {
            var temp = choiceOptions.item(i);
            if (temp.selected == true) {
                var oOption = document.createElement("OPTION");
                selectedOptions[selectedOptions.length] = new Option(temp.text, temp.value);
				choiceOptions[i] = null;
            }
        }
	}
}

function adjustUp(source) {
    var itemOptions = source.options;
    var selectedOption;
    var count = 0;
    var index;
	if(itemOptions.length){
    	for (i = 0; i < itemOptions.length; i++) {
            var temp = itemOptions.item(i);
            if (temp.selected == true) {
                count++;
                if (count > 1) {
                    alert("只能选择一个列调整顺序！");
                    return;
                } else if (count == 1) {
                    index = i;
                }
            }
        }
	}
    
    if (count == 0) {
        alert("请先选择需要调整顺序的列！");
        return;
    }

    if (index == 0) return;

    selectedOption = itemOptions[index];
    var lastOption = itemOptions[index - 1];
    var temp = new Option(selectedOption.text, selectedOption.value);

    selectedOption.text = lastOption.text;
    selectedOption.value = lastOption.value;
    selectedOption.selected = false;

    lastOption.text = temp.text;
    lastOption.value = temp.value;
    lastOption.selected = true;
}

function adjustDown(source) {
    var itemOptions = source.options;
    var selectedOption;
    var count = 0;
    var index;
	if(itemOptions.length){
        for (i = 0; i < itemOptions.length; i++) {
            var temp = itemOptions[i];
            if (temp.selected == true) {
                count++;
                if (count > 1) {
                    alert("只能选择一个列调整顺序！");
                    return;
                } else if (count == 1) {
                    index = i;
                }
            }
        }
	}
    if (count == 0) {
        alert("请选择要调整顺序的列！");
        return;
    }

    if (index == itemOptions.length - 1) return;
    selectedOption = itemOptions[index];
    var nextOption = itemOptions[index + 1];
    var temp = new Option(selectedOption.text, selectedOption.value);

    selectedOption.text = nextOption.text;
    selectedOption.value = nextOption.value;
    selectedOption.selected = false;

    nextOption.text = temp.text;
    nextOption.value = temp.value;
    nextOption.selected = true;
}

function submitForm(formId,actionName,source){
	var itemOptions = source.options;
	var valueStr="";
	if(itemOptions.length){
        for (i = 0; i < itemOptions.length; i++) {
            var temp = itemOptions[i];
            valueStr+=(temp.value+"#");
        }
	}
	document.getElementById("testunitIdStr").value=valueStr; 
	submitFormProcess(formId,actionName);
}

</script>
<body class="ContentBody">
<form  method="post" id="addTestunitFlowForm" name="addTestunitFlowForm">
<input type="hidden" id="testunitIdStr" name="testunitIdStr"/>
<div>
    <label name="resultMsg"><font color="red">$!resultMsg</font></label>
</div>
<div class="MainDiv">
<table width="99%" border="0" cellpadding="0" cellspacing="0" class="CContent">
  <tr>
      <th class="tablestyle_title" >测试流程信息页面</th>
  </tr>
  <tr>
    <td class="CPanel">
		<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
		<tr>
			<td width="100%">
				<fieldset style="height:100%;">
				<legend>新增测试流程</legend>
					  <table border="0" cellpadding="2" cellspacing="1" style="width:100%">
						  <tr>
							<td nowrap align="right" width="13%" height="30px">测试流程名称:</td>
							<td style="width:250px;height:30px"><input name="name" class="text" style="width:200px" type="text"  value="$!testunitFlowDO.name"/><span class="red"> *</span></td>
							<td nowrap align="right" width="13%" height="30px">测试流程编码:</td>
							<td style="width:250px;height:30px"><input name="code" class="text" style="width:200px" type="text" value="$!testunitFlowDO.code"/><span class="red"> *</span></td>
						  </tr>
    					  <tr>
							<td nowrap align="right" width="13%" height="30px">测试流程标签:</td>
							<td style="width:250px;height:30px"><input name="tag" class="text" style="width:200px" type="text" value="$!testunitFlowDO.tag"/><span class="red"> *</span></td>
    					    <td nowrap align="right" height="30px" width="13%">是否需要参数配置:</td>
							#if($testunitFlowDO.envConfigRequired=="N")
							<td nowrap height="30px"><input type="radio" name="envConfigRequired" value="Y"/>是<input type="radio" name="nullable" value="N" checked="checked" />否</td>
							#else
							<td nowrap height="30px"><input type="radio" name="envConfigRequired" value="Y"  checked="checked" />是<input type="radio" name="nullable" value="N"/>否</td>	
							#end
						  </tr>
    					  <tr>
							<td nowrap align="right" width="13%" height="30px">所属系统:</td>
            				<td nowrap  height="30px" style="width:200px">
            					<select name="systemId" style="width:200px;height:22px">
            						  #foreach($systemDO in $systemDOList)
										#if($testunitFlowDO.systemId==$systemDO.id)
            							<option value="$!systemDO.id" selected>$!systemDO.name</option>
										#else
										<option value="$!systemDO.id">$!systemDO.name</option>	
										#end
            						  #end
            					</select>
            				</td>
						  </tr>
						  <tr>
    					    <td nowrap align="right">备注:</td>
    					    <td colspan="2"><textarea name="remark" rows="3" cols="80">$!testunitFlowDO.remark</textarea></td>
    					  </tr>
					  </table>
					  <br />
					  <table border="0" cellpadding="4" cellspacing="1" style="width:100%">
						  <tr>
							<td width="20%"></td>
							<td width="22%" align="right">
                                <select name="choices" size="15" style="width:200px;" multiple="multiple" class="t_aera">
									#foreach($testunitDO in $testunitDOList)
            							<option value="$!testunitDO.id">$!testunitDO.name</option>
            						#end
                                </select>
							</td>
							<td width="8%" align="center">
								<input name="but_r" type="button" value="右&nbsp;移" onClick="moveItem(addTestunitFlowForm.choices, addTestunitFlowForm.selectcolumns)"></br></br></br>
								<input name="but_l" type="button" value="左&nbsp;移" onClick="moveItem(addTestunitFlowForm.selectcolumns, addTestunitFlowForm.choices)">
                        	</td>
							<td width="22%" align="left">
                                <select name="selectcolumns" size="15" style="width:200px;" multiple="multiple" class="t_aera">
									 #foreach($testunitIdAndName in $testunitMap.entrySet())
									   <option value="$testunitIdAndName.key">$testunitIdAndName.value</option>
                                     #end
								</select>
							</td>
							<td width="8%" align="left">
								<input name="but_u" type="button" onClick="adjustUp(addTestunitFlowForm.selectcolumns)" value="上&nbsp;移"></br></br></br>
								<input name="but_d" type="button" onClick="adjustDown(addTestunitFlowForm.selectcolumns)" value="下&nbsp;移">
                        	</td>
							<td width="20%"></td>
                        </tr>
                	  </table>
				</fieldset>			
			</td>
		</tr>
		</table>
	 </td>
   </tr>
   <tr>
     <td colspan="2" align="center" height="50px">
		<input type="button" name="saveBtn" value="保存" class="button" onclick="submitForm('addTestunitFlowForm','${contextPath}/testflowmanage/saveTestunitFlow',addTestunitFlowForm.selectcolumns);"/>　
		<a href="${contextPath}/testflowmanage/testunitFlowList" target="mainFrame" class="left-font03">查询测试流程信息</a>
     </td>
	</tr>
 </table>
</div>
</form>
</body>

</html>