<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='zh-CN' xml:lang='zh-CN' xmlns='http://www.w3.org/1999/xhtml'>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="Content-Language" content="zh-CN"/>
    <title>TestMe-便捷测试平台</title>
</head>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.tabfont01 {	
	font-family: "宋体";
	font-size: 9px;
	color: #555555;
	text-decoration: none;
	text-align: center;
}
.font051 {font-family: "宋体";
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	line-height: 20px;
}
.font201 {font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}
.button {
	font-family: "宋体";
	font-size: 14px;
	height: 37px;
}
html { overflow-x: auto; overflow-y: auto; border:0;} 
-->
</style>

<link href="${request.ContextPath}/res/css/css.css" rel="stylesheet" type="text/css" />
<link href="${request.ContextPath}/res/css/style.css" rel="stylesheet" type="text/css" />
</head>
<SCRIPT language=JavaScript>
function selectAll(){
	var obj = document.fom.elements;
	for (var i=0;i<obj.length;i++){
		if (obj[i].name == "delid"){
			obj[i].checked = true;
		}
	}
}

function unselectAll(){
	var obj = document.fom.elements;
	for (var i=0;i<obj.length;i++){
		if (obj[i].name == "delid"){
			if (obj[i].checked==true) obj[i].checked = false;
			else obj[i].checked = true;
		}
	}
}
</SCRIPT>

<body>
<form name="fom" id="fom" method="post" action="">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="30">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
			<td height="124" background="${request.ContextPath}/res/images/testme_nav04.gif">
				<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
				<tr>
				  <td width="80">配置名称：</td>
				  <td><input name="text" class="text" style="width:180px" type="text" size="40" /></td>
				  <td width="80">所属系统：</td>
				  <td>
					<select name="select" style="width:180px">
                          <option  selected="selected">==请选择==</option>
                          <option>LP4PL</option>
                          <option>SCM</option>
					</select>
				  </td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
				  <td width="80">参数名称：</td>
				  <td><input name="text" class="text" style="width:180px" type="text" size="40" /></td>
				  <td width="80">配置类型：</td>
				  <td>
					<select name="select" style="width:180px">
                          <option  selected="selected">==请选择==</option>
                          <option>系统必须参数</option>
                          <option>自定义参数</option>
					</select>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="Submit4" type="button" class="right-button02" value="查 询" />
				  </td>
				</tr>
				</table>
			</td>
			</tr>
		</table>
	</td>
  </tr>
  <tr>
    <td>
		<table id="subtree1" style="DISPLAY: " width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
			<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
              	  <tr>
                    <td height="20"><span class="newfont07">选择：<a href="#" class="right-font08" onclick="selectAll();">全选</a>-<a href="#" class="right-font08" onclick="unselectAll();">反选</a></span>
    	                <input name="Submit" type="button" class="right-button08" value="删除系统" />
    			    </td>
              	  </tr>
                  <tr>
                    <td height="40" class="font42">
        				<table width="100%" id="systemConfigTable" border="0" cellpadding="4" cellspacing="1" bgcolor="#464646" class="newfont03">
        				  <tr class="CTitle" >
                            <td height="22" colspan="7" align="center" style="font-size:16px">配置信息列表</td>
                          </tr>
                          <tr bgcolor="#EEEEEE">
        				    <td width="5%" align="center" height="30">选择</td>
                            <td width="15%">配置名称</td>
        					<td width="10%">所属系统</td>
							<td width="10%">配置类型</td>
							<td width="20%">参数名称</td>
							<td width="30%">参数值</td>
        					<td width="10%">操作</td>
                          </tr>
                          <tr bgcolor="#FFFFFF">
        				    <td height="20"><input type="checkbox" name="delid"/></td>
        					<td>4PL测试环境配置</td>
                            <td>LP4PL</td>
							<td>自定义参数</td>
                            <td>host</td>
							<td>192.168.1.1</td>
                            <td>
    							<a href="editrenwu.htm">编辑|</a>
    							<a href="#">删除</a>
    						</td>
                          </tr>
						  <tr bgcolor="#FFFFFF">
        				    <td height="20"><input type="checkbox" name="delid"/></td>
        					<td>4PL测试环境配置</td>
                            <td>LP4PL</td>
							<td>系统必须参数</td>
                            <td>alibaba.lp.wl.database.jdbcUrl</td>
							<td>jdbc.oracle:thin:@10.20.149.17:1521:lptest</td>
                            <td>
    							<a href="editrenwu.htm">编辑|</a>
    							<a href="#">删除</a>
    						</td>
                          </tr>
    					</table>
    				</td>
				  </tr>
				</table>
			    <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
					<tr>
					  <td height="6"><img src="${request.ContextPath}/res/images/testme_09.gif" width="1" height="1" /></td>
					</tr>
					<tr>
					  <td height="33">
					  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="right-font08">
						  <tr>
							<td width="50%">共 <span class="right-text09">5</span> 页 | 第 <span class="right-text09">1</span> 页</td>
							<td width="49%" align="right">[<a href="#" class="right-font08">首页</a> | <a href="#" class="right-font08">上一页</a> | <a href="#" class="right-font08">下一页</a> | <a href="#" class="right-font08">末页</a>] 转至：</td>
							<td width="1%"><table width="20" border="0" cellspacing="0" cellpadding="0">
								<tr>
								  <td width="1%"><input name="textfield3" type="text" class="right-textfield03" size="1" /></td>
								  <td width="87%"><input name="Submit23222" type="submit" class="right-button06" value=" " />
								  </td>
								</tr>
							</table></td>
						  </tr>
					  </table></td>
					</tr>
			    </table>
			</td>
	</tr>
</table>
</form>
</body>
</html>