<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="Content-Language" content="zh-CN"/>
    <title>TestMe-便捷测试平台</title>
</head>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.tabfont01 {	
	font-family: "宋体";
	font-size: 9px;
	color: #555555;
	text-decoration: none;
	text-align: center;
}
.font051 {font-family: "宋体";
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	line-height: 20px;
}
.font201 {font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}
.button {
	font-family: "宋体";
	font-size: 14px;
	height: 37px;
}
html { overflow-x: auto; overflow-y: auto; border:0;} 
-->
</style>

<link href="${contextPath}/res/css/css.css" rel="stylesheet" type="text/css" />
<link href="${contextPath}/res/css/style.css" rel="stylesheet" type="text/css" />
<link href="${contextPath}/res/css/pagination.css" rel="stylesheet" type="text/css" />

</head>
<script type="text/javascript" src="${contextPath}/res/common/commonConfig.js"></script>
<script>
//弹出输入框
function editProcess(systemEnvDetailId){
	var saveBtnName = "saveBtn_"+systemEnvDetailId;
	var textName = "propValueText_"+systemEnvDetailId;
	var labelName = "propValueLabel_"+systemEnvDetailId;
	document.getElementById(textName).style.display="";
	document.getElementById(saveBtnName).style.display="";
	document.getElementById(labelName).style.display="none";
}

function savePropValueProcess(systemEnvDetailId){
   var saveBtnName = "saveBtn_"+systemEnvDetailId;
   var textName = "propValueText_"+systemEnvDetailId;
   var labelName = "propValueLabel_"+systemEnvDetailId;
   var propValue = document.getElementById(textName).value;
   if(!propValue){
		alert("参数值不能为空");
   }else{
   		document.getElementById(textName).style.display="none";
		document.getElementById(saveBtnName).style.display="none";
		document.getElementById(labelName).style.display="";
  		location.href= "${contextPath}/systemconfig/editPropValue?systemEnvDetailId="+systemEnvDetailId+"&propValue="+propValue;
   }
}
</script>
<body>
<form id="fom" name="fom" method="post" action="${contextPath}/systemconfig/systemEnvDetailList">
<div>
    <label name="resultMsg"><font color="red">$!resultMsg</font></label>
</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="30">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
			<td height="124" background="${contextPath}/res/images/testme_nav04.gif">
				<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
				<tr>
				  <td width="80">配置名称：</td>
				  <td><input name="configName" class="text" style="width:180px" type="text" size="40" value="$!systemConfigQuery.configName"/></td>
				  <td width="80">所属系统：</td>
				  <td>
					<select name="systemId" style="width:180px">
                          <option value="">==请选择==</option>
						  #foreach($systemDO in $systemDOList)
							#if($!systemDO.id==$!systemConfigQuery.systemId)
								<option value="$!systemDO.id"  selected="selected">$!systemDO.name</option>
							#else
								<option value="$!systemDO.id">$!systemDO.name</option>
							#end
						  #end
					</select>
				  </td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
				  <td width="80">参数名称：</td>
				  <td><input name="propKey" class="text" style="width:180px" type="text" value="$!systemConfigQuery.propKey"/></td>
				  <td width="80">配置类型：</td>
				  <td>
					<select name="configType" style="width:180px">
                          <option value="">==请选择==</option>
						  #foreach($configType in $configTypeList)
    						  #if($!configType.key==$!systemConfigQuery.configType)
    							<option value="$!configType.key" selected="selected">$!configType.value</option>
    						  #else
    							<option value="$!configType.key">$!configType.value</option>
    						  #end
						  #end
					</select>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="Submit4" type="submit" class="right-button02" value="查 询" />
				  </td>
				</tr>
				</table>
			</td>
			</tr>
		</table>
	</td>
  </tr>
  <tr>
    <td>
		<table id="subtree1" style="DISPLAY: " width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
			<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
              	  <tr>
                    <td height="30"><span class="newfont07">选择：<a href="#" class="right-font08" onclick="selectAll(fom,'delid');">全选</a>-<a href="#" class="right-font08" onclick="unselectAll(fom,'delid');">反选</a></span>
    	                <input name="batchDelBtn" type="button" class="right-button08" onclick="batchDelProcess(delid,'${contextPath}/systemconfig/batchDelEnvDetail?ids=')" value="删除配置" />
    			    </td>
              	  </tr>
                  <tr>
                    <td height="40" class="font42">
        				<table width="100%" id="systemConfigTable" border="0" cellpadding="4" cellspacing="1" bgcolor="#464646" class="newfont03">
        				  <tr class="CTitle" >
                            <td height="22" colspan="7" align="center" style="font-size:16px">配置信息列表</td>
                          </tr>
                          <tr bgcolor="#EEEEEE">
        				    <td width="5%" align="center" height="30">选择</td>
                            <td width="15%">配置名称</td>
        					<td width="10%">所属系统</td>
							<td width="10%">配置类型</td>
							<td width="20%">参数名称</td>
							<td width="30%">参数值</td>
        					<td width="10%">操作</td>
                          </tr>
						  #foreach($systemConfigVO in $systemConfigVOPage.datas)
                          <tr bgcolor="#FFFFFF">                       
        				    <td height="20"><input type="checkbox" name="delid"  align="center" value="$!systemConfigVO.systemEnvDetailId"/></td>
        					<td><a href="${contextPath}/systemconfig/editSystemEnv?systemEnvId=$!systemConfigVO.systemEnvId"> $!systemConfigVO.configName</a></td>
                            <td>$!systemConfigVO.systemName</td>
							<td>$!systemConfigVO.configType</td>
                            <td>$!systemConfigVO.propKey</td>
							<td>
								<label id="propValueLabel_$!systemConfigVO.systemEnvDetailId">$!systemConfigVO.propValue</label>
								<input type="text" class="text" id="propValueText_$!systemConfigVO.systemEnvDetailId" style="display:none;" size="40" value="$!systemConfigVO.propValue">
								<input name="saveBtn_$!systemConfigVO.systemEnvDetailId" id="saveBtn_$!systemConfigVO.systemEnvDetailId" type="button" onclick="savePropValueProcess($!systemConfigVO.systemEnvDetailId)" style="display:none;width:46px; height:18px;border:0; background:url(${contextPath}/res/images/btn_save.gif) right" />
							</td>
                            <td>
    							<a href="javascript:void(0)" onclick="editProcess($!systemConfigVO.systemEnvDetailId)" target="mainFrame">编辑|</a>
    							<a href="javascript:void(0)" onclick="delProcess('${contextPath}/systemconfig/deleteSystemEnvDetail?id='+$!systemConfigVO.systemEnvDetailId)">删除</a>
    						</td>
                          </tr>
						  #end
						</table>
    				</td>
				  </tr>
				</table>
			    <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
					<tr>
					  <td height="33" class="listPage" cellpadding="0" cellspacing="0">
						 $!{pageUtil.genPageToolbar(${systemConfigVOPage}, 'fom')}
					  </td>
					</tr>
			    </table>
			</td>
	</tr>
</table>
</form>
</body>
</html>
