<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='zh-CN' xml:lang='zh-CN' xmlns='http://www.w3.org/1999/xhtml'>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="Content-Language" content="zh-CN"/>
    <title>TestMe-便捷测试平台</title>
</head>
<style type="text/css">
<!--
.atten {font-size:12px;font-weight:normal;color:#F00;}
-->
</style>
<link href="${contextPath}/res/css/style.css" rel="stylesheet" type="text/css" />
</head>
<script type="text/javascript" src="${contextPath}/res/common/commonConfig.js"></script>
<body class="ContentBody">
<form  method="post" id="editSystemConfigForm">
<input type="hidden" name="id" value="$!systemDO.id" />
<div>
    <label name="resultMsg"><font color="red">$!resultMsg</font></label>
</div>
<div class="MainDiv">
<table width="99%" border="0" cellpadding="0" cellspacing="0" class="CContent">
  <tr>
      <th class="tablestyle_title" >系统编辑页面</th>
  </tr>
  <tr>
    <td class="CPanel">
		<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
		<tr>
			<td width="100%">
				<fieldset style="height:100%;">
				<legend>编辑系统</legend>
					  <table border="0" cellpadding="2" cellspacing="1" style="width:100%">
    					  <tr>
    					    <td nowrap align="right" width="13%">系统名称:</td>
							<td><input name="name" class="text" style="width:250px" type="text" size="40" value="$!systemDO.name" /><span class="red"> *</span></td>
    					  </tr>
    					  <tr>
    					    <td nowrap align="right" height="120px">系统备注:</td>
    					    <td colspan="3"><textarea name="remark" rows="5" cols="80">$!systemDO.remark</textarea></td>
    					  </tr>
					  </table>
					  <br />
				</fieldset>			
			</td>
		</tr>
		</table>
	 </td>
   </tr>
   <tr>
     <td colspan="2" align="center" height="50px">
		<input type="button" name="saveBtn" value="保存" class="button" onclick="submitFormProcess('editSystemConfigForm','${contextPath}/systemconfig/updateSystemConfig');"/>　
		<a href="${contextPath}/systemconfig/systemConfigList" target="mainFrame" class="left-font03">查看系统列表</a>
     </td>
	</tr>
 </table>
</div>
</form>
</body>

</html>