<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>TestMe-便捷测试平台</title>
</head>
<script type="text/javascript" src="${contextPath}/res/common/commonConfig.js"></script>
<script>
function isExistsConfigName(){
	var configName = document.getElementById("configName").value;
	location.href= "${contextPath}/systemconfig/isExistsConfigName?configName="+configName;
}

//编辑配置名称和所属系统
function editConfigNameProcess(){
	document.getElementById("editConfigNameBtn").style.display="none";
	document.getElementById("saveConfigNameBtn").style.display="";
	document.getElementById("onlyRead_configName").style.display="none";
	document.getElementById("update_configName").style.display="";
	document.getElementById("update_configNameSpan").style.display="";
	document.getElementById("onlyRead_systemName").style.display="none";
	document.getElementById("update_systemName").style.display="";
}
//保存配置名称和所属系统
function saveConfigNameProcess(systemEnvId){
   var configName = encodeURIComponent(document.getElementById("update_configName").value);
   var systemId = document.getElementById("update_systemName").value;
   if(!configName || !systemId){
		alert("配置名称和所属系统不能为空");
   }else{
   		document.getElementById("editConfigNameBtn").style.display="";
		document.getElementById("saveConfigNameBtn").style.display="none";
		document.getElementById("onlyRead_configName").style.display="";
		document.getElementById("update_configName").style.display="none";
		document.getElementById("update_configNameSpan").style.display="none";
		document.getElementById("onlyRead_systemName").style.display="";
		document.getElementById("update_systemName").style.display="none";
  		location.href= "${contextPath}/systemconfig/updateSystemEnv?systemEnvId="+systemEnvId+"&configName="+configName+"&systemId="+systemId;
   }
}

//编辑参数值
function editProcess(systemEnvDetailId){
	var saveBtnName = "saveBtn_"+systemEnvDetailId;
	var textName = "propValueText_"+systemEnvDetailId;
	var labelName = "propValueLabel_"+systemEnvDetailId;
	document.getElementById(textName).style.display="";
	document.getElementById(saveBtnName).style.display="";
	document.getElementById(labelName).style.display="none";
}
//保存参数值
function savePropValueProcess(systemEnvDetailId){
   var saveBtnName = "saveBtn_"+systemEnvDetailId;
   var textName = "propValueText_"+systemEnvDetailId;
   var labelName = "propValueLabel_"+systemEnvDetailId;
   var propValue = document.getElementById(textName).value;
   if(!propValue){
		alert("参数值不能为空");
   }else{
   		document.getElementById(textName).style.display="none";
		document.getElementById(saveBtnName).style.display="none";
		document.getElementById(labelName).style.display="";
  		location.href= "${contextPath}/systemconfig/editPropValueBySystemEnv?systemEnvDetailId="+systemEnvDetailId+"&propValue="+propValue+"&systemEnvId="+$!systemEnvId;
   }
}

function addPropKey(){
	document.getElementById("drag").style.display="";
}

function doCancelProcess(){
	document.getElementById("drag").style.display="none";
}

var get = {
	byId: function(id) {
		return typeof id === "string" ? document.getElementById(id) : id;
	},
	byClass: function(sClass, oParent) {
		var aClass = [];
		var reClass = new RegExp("(^| )" + sClass + "( |$)");
		var aElem = this.byTagName("*", oParent);
		for (var i = 0; i < aElem.length; i++) reClass.test(aElem[i].className) && aClass.push(aElem[i]);
		return aClass;
	},
	byTagName: function(elem, obj) {
		return (obj || document).getElementsByTagName(elem)
	}
}
//窗口拖拽

function drag(oDrag,oTitle){
	var posX=posY=0;
	var RevertWidth=300;
	var RevertHeight=160;
	oTitle.onmousedown=function(event){
		oTitle.style.cursor = "move";
		var event = event || window.event;
		var disX=event.clientX-oDrag.offsetLeft;
		var disY=event.clientY-oDrag.offsetTop;
		//鼠标移动，窗口随之移动     onmousemove在有物体移动是才执行alert事件；
		document.onmousemove=function(event){
			var event = event || window.event;
			maxW=document.documentElement.clientWidth-oDrag.offsetWidth;
			maxH=document.documentElement.clientHeight-oDrag.offsetHeight;
			posX=event.clientX-disX;
			posY=event.clientY-disY;
			if(posX<0){
				posX=0;
			}else if(posX>maxW){
				posX=maxW;
			}
			if(posY<0){
				posY=0;
			}else if(posY>maxH){
				posY=maxH;
			}
			oDrag.style.left=posX+'px';
			oDrag.style.top=posY+'px';
		}
		//鼠标松开，窗口将不再移动
		document.onmouseup=function(){
			document.onmousemove=null;
			document.onmouseup=null;
		}
	}
}
window.onload  = function (){
	var oDrag = document.getElementById("drag");
	var oTitle = get.byClass("title", oDrag)[0];
	drag(oDrag, oTitle);
}

</script>
<style type="text/css">
<!--
.atten {font-size:12px;font-weight:normal;color:#F00;}
-->
#drag{position:absolute;top:100px;left:100px;width:400px;height:170px;background:#e9e9e9;border:1px solid #444;border-radius:5px;box-shadow:0 1px 3px 2px #666;}
#drag .title{position:relative;height:27px;margin:5px;}
#drag .title h2{font-size:14px;height:27px;line-height:24px;border-bottom:1px solid #A1B4B0;}
#drag .title div{position:absolute;height:19px;top:2px;right:0;}
#drag .title a,a.open{float:left;width:21px;height:19px;display:block;margin-left:5px;background:url(/jscss/demoimg/201301/tool.png) no-repeat;}
a.open{position:absolute;top:10px;left:50%;margin-left:-10px;background-position:0 0;}
a.open:hover{background-position:0 -29px;}
#drag .content{overflow:auto;margin:0 5px;}

</style>
<link href="${contextPath}/res/css/style.css" rel="stylesheet" type="text/css" />
<link href="${contextPath}/res/css/css.css" rel="stylesheet" type="text/css" />
</head>

<body class="ContentBody">
<form  method="post" id="addSystemEnvForm">
<div>
    <label name="resultMsg"><font color="red">$!resultMsg</font></label>
</div>
<div class="MainDiv">
<table width="99%" border="0" cellpadding="0" cellspacing="0" class="CContent">
  <tr>
      <th class="tablestyle_title" align="center">系统参数配置页面</th>
  </tr>
  <tr>
    <td class="CPanel">
		<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
		<tr>
			<td width="100%">
				<fieldset style="height:100%;">
				<legend>系统参数配置信息</legend>
					  <table border="0" cellpadding="2" cellspacing="1" style="width:100%">
						  <tr>
							<td style="width:10%;height:30px">配置名称:</td>
							<td style="width:40%;height:30px">
                                <label id="onlyRead_configName">$!configName</label>
								<input id="update_configName" name="configName" style="display:none;" value="$!configName" class="text" size=40 type="text" />
								<span id="update_configNameSpan" class="red" style="display:none;"> *</span>
							</td>
							<td style="width:10%;height:30px">所属系统:</td>
            				<td style="width:20%;height:30px">
								<label id="onlyRead_systemName">$!systemName</label>
            					<select id="update_systemName" name="systemId" style="width:200px;height:25px;display:none;">
            						  #foreach($systemDO in $systemDOList)
										#if($systemDO.id==$systemId)
											<option value="$!systemDO.id" selected>$!systemDO.name</option>
										#else
											<option value="$!systemDO.id">$!systemDO.name</option>
										#end
            						  #end
            					</select>
            				 </td>
							 <td>
								<input name="editConfigNameBtn" id="editConfigNameBtn" type="button" onclick="editConfigNameProcess($!systemEnvId)" style="width:45px; height:17px;border:0; background:url(${contextPath}/res/images/btn_modify.gif)" />
								<input name="saveConfigNameBtn" id="saveConfigNameBtn" type="button" onclick="saveConfigNameProcess($!systemEnvId)" style="display:none;width:45px; height:17px;border:0; background:url(${contextPath}/res/images/btn_save.gif)" />
                             </td>
						  </tr>
                          <tr>
							<td>
								<input name="Submit2" type="button" class="right-button08" value="添加一项" onclick="addPropKey();"/>
							</td>
							<td>
								<a href="${contextPath}/systemconfig/configList" target="mainFrame" class="left-font03">查询参数配置</a>
							</td>
						  </tr>
    					  <tr>
							<td  class="font42" style="width:500px" colspan="4">
                				<table width="100%" id="systemRequirePropTable" border="0" cellpadding="4" cellspacing="1" bgcolor="#464646" class="newfont03">
                				  <tr class="CTitle" >
                                    <td height="22" colspan="5" align="center" style="font-size:16px">配置信息列表</td>
                                  </tr>
                                  <tr bgcolor="#EEEEEE">
                                    <td width="20%">参数中文名称</td>
                					<td width="20%">参数编码</td>
									<td width="10%">配置类型</td>
        							<td width="40%">参数值</td>
									<td width="10%">操作</td>
                                  </tr>
        						  #foreach($systemConfigVO in $systemConfigVOList)
                                  <tr bgcolor="#FFFFFF">
									<input type="hidden" name="systemRequirePropId" value="$!systemRequirePropDO.id"/>
									<input type="hidden" name="propName_$!systemRequirePropDO.id" value="$!systemRequirePropDO.propName"/>
									<input type="hidden" name="propCode_$!systemRequirePropDO.id" value="$!systemRequirePropDO.propCode"/>
									<input type="hidden" name="nullable_$!systemRequirePropDO.id" value="$!systemRequirePropDO.nullable"/>
                                    <td height="30px"><label>$!systemConfigVO.remark</label></td>
                                    <td height="30px"><label>$!systemConfigVO.propKey</label></td>
									<td height="30px"><label>$!systemConfigVO.configType</label></td>
									<td height="30px">
										<label id="propValueLabel_$!systemConfigVO.systemEnvDetailId">$!systemConfigVO.propValue</label>
										<input type="text" class="text" id="propValueText_$!systemConfigVO.systemEnvDetailId" style="display:none;" size="40" value="$!systemConfigVO.propValue">
										<input name="saveBtn_$!systemConfigVO.systemEnvDetailId" id="saveBtn_$!systemConfigVO.systemEnvDetailId" type="button" onclick="savePropValueProcess($!systemConfigVO.systemEnvDetailId)" style="display:none;width:46px; height:18px;border:0; background:url(${contextPath}/res/images/btn_save.gif) right" />
									</td>
									<td>
            							<a href="javascript:void(0)" onclick="editProcess($!systemConfigVO.systemEnvDetailId)" target="mainFrame">编辑|</a>
            							<a href="javascript:void(0)" onclick="delProcess('${contextPath}/systemconfig/deleteSystemEnvDetailBySystemEnv?id='+$!systemConfigVO.systemEnvDetailId+'&systemEnvId='+$!systemEnvId)">删除</a>
            						</td>
                                  </tr>
        						  #end
        						</table>
							</td>
                          </tr>
					  </table>
					  <br />
				</fieldset>			
			</td>
		</tr>
		</table>
	 </td>
   </tr>
 </table>
</div>
</form>
<div id="drag" style="display:none">
    <div class="title">
        <h2>添加参数</h2>
    </div>
    <div class="content">
		<form  method="post" id="addSystemEnvDetailForm" name="addSystemEnvDetailForm" action="${contextPath}/systemconfig/saveSystemEnvDetail">
		<input type="hidden" name="systemEnvId" value="$!systemEnvId"/>
		<input type="hidden" name="systemId" value="$!systemId"/>
        <table border="0" cellpadding="2" cellspacing="1" style="width:100%">
    	<tr>
	    	<td nowrap align="right" width="13%" height="30px">参数英文名:</td>
			<td style="width:260px;height:30px"><input name="propKey" class="text" style="width:250px" type="text" /><span class="red"> *</span></td>
		</tr>
		<tr>
			<td nowrap align="right" height="30px">参数中文名:</td>
	    	<td><input name="remark" class="text" style="width:250px" type="text"  /><span class="red"> *</span></td>
		</tr>
    	<tr>
    		<td nowrap align="right" width="13%" height="30px">参数值:</td>
			<td height="30px"><input name="propValue" class="text" style="width:250px" type="text"/></td>
    	</tr>
		<tr>
            <td colspan="2" align="center">
				<input type="submit" name="saveBtn" value="保存" class="button"/>　
				<input type="button" name="saveBtn" value="取消" class="button" onclick="doCancelProcess();"/>　
			</td>
		</tr>
		</table>
        </form>
    </div>    
</div>
</body>

</html>