<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='zh-CN' xml:lang='zh-CN' xmlns='http://www.w3.org/1999/xhtml'>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="Content-Language" content="zh-CN"/>
    <title>TestMe-便捷测试平台</title>
</head>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.tabfont01 {	
	font-family: "宋体";
	font-size: 9px;
	color: #555555;
	text-decoration: none;
	text-align: center;
}
.font051 {font-family: "宋体";
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	line-height: 20px;
}
.font201 {font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}
.button {
	font-family: "宋体";
	font-size: 14px;
	height: 37px;
}
html { overflow-x: auto; overflow-y: auto; border:0;} 
-->
</style>
<link href="${contextPath}/res/css/css.css" rel="stylesheet" type="text/css" />
<link href="${contextPath}/res/css/style.css" rel="stylesheet" type="text/css" />
</head>
<script type="text/javascript" src="${contextPath}/res/common/commonConfig.js"></script>
<body>
<form name="fom" id="fom" method="post" action="">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
		<table id="subtree1" style="DISPLAY: " width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>
    			<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
              	  <tr>
                    <td height="20"><span class="newfont07">选择：<a href="#" class="right-font08" onclick="selectAll(fom,'delid');">全选</a>-<a href="#" class="right-font08" onclick="unselectAll(fom,'delid');">反选</a></span>
    	                <input name="batchDel" type="button" onclick="batchDelProcess(delid,'${contextPath}/systemconfig/batchDelSystemConfig?ids=')" class="right-button08" value="批量删除" />
    			    </td>
              	  </tr>
                  <tr>
                    <td height="40" class="font42">
        				<table width="100%" id="systemConfigTable" border="0" cellpadding="4" cellspacing="1" bgcolor="#464646" class="newfont03">
        				  <tr class="CTitle" >
                            <td height="22" colspan="7" align="center" style="font-size:16px">系统列表</td>
                          </tr>
                          <tr bgcolor="#EEEEEE">
        				    <td width="5%" align="center" height="30">选择</td>
                            <td width="25%">系统名称</td>
        					<td width="50%">备注</td>
        					<td width="20%">操作</td>
                          </tr>
						  #foreach($systemDO in $systemDOList)
							<tr bgcolor="#FFFFFF">
            				    <td height="20"><input type="checkbox" name="delid" value="$systemDO.id" align="center"/></td>
            					<td>$systemDO.name</td>
                                <td>$systemDO.remark</td>
                                <td>
        							<a href="${contextPath}/systemconfig/editSystemConfig?id=$!systemDO.id" target="mainFrame">编辑|</a>
        							<a href="javascript:void(0)" onclick="delProcess('${contextPath}/systemconfig/deleteSystemConfig?id='+$!systemDO.id)">删除</a>
        						</td>
							</tr>
                          #end
                          
    					</table>
    				</td>
				  </tr>
				</table>
			</td>
        </tr>
      </table>
	</td>
  </tr>
</table>
</form>

</body>
</html>
