<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>新增测试单元信息</title>
</head>
<script type="text/javascript" src="${contextPath}/res/common/commonConfig.js"></script>
<link href="${contextPath}/res/css/style.css" rel="stylesheet" type="text/css" />
<link href="${contextPath}/res/css/css.css" rel="stylesheet" type="text/css" />
</head>
<script>
function getWorkSpaceList(){
	var systemId = document.getElementById("systemId").value;
	if(systemId){
	   location.href= "${contextPath}/testunitmanage/getWorkSpaceListBySystemId?systemId="+systemId;
	}
}

function addOneTestunitConfig(tableObject){
   var row = tableObject.insertRow(tableObject.rows.length);
   var i = tableObject.rows.length - 2;
   var col;
   col = row.insertCell(0);
   row.style.background="#FFFFFF";
   col.innerHTML = "<input name='tag' class='text' style='width:90px' type='text' value='$!testunitFlowDO.tag'/>";
   col = row.insertCell(1);
   col.innerHTML = "<input name='tag' class='text' style='width:90px' type='text' value='$!testunitFlowDO.tag'/>";
   col = row.insertCell(2);
   col.innerHTML = "<select name='workSpaceId' style='width:140px;height:20px'><option value='0'>==请选择==</option></select>";
   col = row.insertCell(3);
   col.innerHTML = "<input name='tag' class='text' style='width:140px' type='text' value='$!testunitFlowDO.tag'/>";
   col = row.insertCell(4);
   col.innerHTML = "<input name='tag' class='text' style='width:40px' type='text' value='$!testunitFlowDO.tag'/>";
   col = row.insertCell(5);
   col.innerHTML = "<input type='radio' name='envConfigRequired' value='Y' checked='checked'/>是<input type='radio' name='nullable' value='N' />否";
   col = row.insertCell(6);
   col.innerHTML = "<input name='tag' class='text' style='width:170px' type='text' value='$!testunitFlowDO.tag'/>";
   col = row.insertCell(7);
   col.innerHTML = "<a href='javascript:void(0)'>删除</a>";
}

</script>
<body class="ContentBody">
<form  method="post" id="addTestunitForm" name="addTestunitForm">
<div>
    <label name="resultMsg"><font color="red">$!resultMsg</font></label>
</div>
<div class="MainDiv">
<table width="99%" border="0" cellpadding="0" cellspacing="0" class="CContent">
  <tr>
      <th class="tablestyle_title" >新增测试单元页面</th>
  </tr>
  <tr>
    <td class="CPanel">
		<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
		<tr>
			<td width="100%">
				<fieldset style="height:100%;">
				<legend>测试单元基本信息</legend>
					  <table border="0" cellpadding="2" cellspacing="1" style="width:100%" class="tableFixClass">
						  <col style="width: 13%" />
						  <col style="width: 30%" />
						  <col style="width: 13%" />
						  <col style="width: 30%" />
						  <tr>
							<td nowrap align="right" width="13%" height="40px">测试单元名称:</td>
							<td nowrap align="left" width="30%" height="40px"><input name="name" class="text" style="width:200px" type="text"  value="$!testunitDO.name"/><span class="red"> *</span></td>
							<td nowrap align="right" width="13%" height="40px">测试单元编码:</td>
							<td nowrap align="left" width="30%" height="40px"><input name="code" class="text" style="width:200px" type="text" value="$!testunitDO.code"/><span class="red"> *</span></td>
						  </tr>
    					  <tr>
							<td nowrap align="right" width="13%" height="40px">所属系统:</td>
            				<td nowrap align="left" width="30%" height="40px">
            					<select name="systemId" id="systemId" style="width:200px;height:22px" onchange="getWorkSpaceList()">
            						  #foreach($systemDO in $systemDOList)
										#if($systemId==$systemDO.id)
            							<option value="$!systemDO.id" selected>$!systemDO.name</option>
										#else
										<option value="$!systemDO.id">$!systemDO.name</option>	
										#end
            						  #end
            					</select>
								<span class="red"> *</span>
            				</td>
							<td nowrap align="right" width="13%" height="40px">测试单元标签:</td>
							<td nowrap align="left" width="30%" height="40px"><input name="tag" class="text" style="width:200px" type="text" value="$!testunitFlowDO.tag"/><span class="red"> *</span></td>
						  </tr>
                          <tr>
							<td nowrap align="right" width="13%" height="40px">所属工作空间:</td>
            				<td nowrap align="left" width="30%" height="40px">
            					<select name="workSpaceId" style="width:200px;height:22px">
            						  <option value="0">==请选择==</option>
            						  #foreach($workSpaceDO in $workSpaceDOList)
										#if($workSpaceId==$workSpaceDO.id)
            							<option value="$!workSpaceDO.id" selected>$!workSpaceDO.name</option>
										#else
										<option value="$!workSpaceDO.id">$!workSpaceDO.name</option>	
										#end
            						  #end
            					</select>
            				</td>
							<td nowrap align="right" width="13%" height="40px">自定义工作空间:</td>
							<td nowrap align="left" width="30%" height="40px"><input name="customWorkSpace" class="text" style="width:200px" type="text" value="$!customWorkSpace"/></td>
						  </tr>
                          <tr>
							<td nowrap align="right" width="13%" height="40px">包及类名:</td>
    					    <td nowrap align="left" width="80%" height="40px" colspan="3"><input name="classQualifiedName" class="text" style="width:500px" type="text" value="$!testunitDO.classQualifiedName"/><span class="red"> *</span></td>
						  </tr>
						  <tr>
            				<td nowrap align="right" width="13%" height="40px">bundle文件:</td>
            				<td nowrap align="left"  width="20%" height="22px">
            					<input id="bundleFile" name="bundleFile" type="file"/>
            				</td>
            				<td width="67%"></td>
						  </tr>
						  <tr>
    					    <td nowrap align="right" width="13%" height="40px">备注:</td>
    					    <td nowrap colspan="2" width="60%" height="40px"><textarea name="remark" rows="3" cols="80">$!testunitDO.remark</textarea></td>
    					  </tr>
					  </table>
					  </fieldset>	
					  <br />
					  <fieldset style="height:100%;">
        				<legend>测试单元参数配置</legend>
						  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                      	  <tr>
                            <td height="30">
            	                <input name="addTestunitConfigBtn" type="button" onclick="addOneTestunitConfig(addTestunitConfigTable)" class="right-button08" value="添加一项" />
        					</td>
                      	  </tr>
                          <tr>
                            <td height="40" class="font42">
                				<table style="width:100%;" id="addTestunitConfigTable" name="addTestunitConfigTable" border="0" cellpadding="4" cellspacing="1" bgcolor="#464646" class="tableFixClass">
                				  <col style="width: 10%" />
        						  <col style="width: 10%" />
        						  <col style="width: 15%" />
        						  <col style="width: 15%" />
								  <col style="width: 6%" />
        						  <col style="width: 15%" />
        						  <col style="width: 19%" />
        						  <col style="width: 10%" />
        						  <tr class="CTitle" >
                                    <td height="22" colspan="8" align="center" style="font-size:16px">参数列表</td>
                                  </tr>
                                  <tr bgcolor="#EEEEEE">
                                    <td width="10%" height="20px">控件显示名称</td>
                					<td width="10%">参数名称</td>
                					<td width="15%">表单控件类型</td>
									<td width="15%">缺省值</td>
									<td width="7%">位置序号</td>
									<td width="15%">是否必填</td>
									<td width="19%">填写提示</td>
									<td width="10%">操作</td>
                                  </tr>
        						  <tr bgcolor="#FFFFFF">
                				    <td height="20px">
										<input name="tag" class="text" style="width:90px" type="text" value="$!testunitFlowDO.tag"/>
									</td>
                					<td>
    									<input name="tag" class="text" style="width:90px" type="text" value="$!testunitFlowDO.tag"/>
    								</td>
                                    <td>
    								  <select name="workSpaceId" style="width:140px;height:20px">
                						  <option value="0">==请选择==</option>
                						  #foreach($workSpaceDO in $workSpaceDOList)
    										#if($workSpaceId==$workSpaceDO.id)
                							<option value="$!workSpaceDO.id" selected>$!workSpaceDO.name</option>
    										#else
    										<option value="$!workSpaceDO.id">$!workSpaceDO.name</option>	
    										#end
                						  #end
									  </select>
    								</td>
									<td>
    									<input name="tag" class="text" style="width:140px" type="text" value="$!testunitFlowDO.tag"/>
    								</td>
									<td>
    									<input name="tag" class="text" style="width:40px" type="text" value="$!testunitFlowDO.tag"/>
    								</td>
									<td>
    									<input type="radio" name="envConfigRequired" value="Y" checked="checked"/>是<input type="radio" name="nullable" value="N" />否
    								</td>
									<td>
    									<input name="tag" class="text" style="width:170px" type="text" value="$!testunitFlowDO.tag"/>
    								</td>
                                    <td>
            							<a href="javascript:void(0)" onclick="delProcess('${contextPath}/systemconfig/deleteSystemConfig?id='+$!systemDO.id)">删除</a>
            						</td>
        						  </tr>  
            					</table>
            				</td>
        				  </tr>
        				</table>
        			  </fieldset>			
			</td>
		</tr>
		</table>
	 </td>
   </tr>
   <tr>
     <td colspan="2" align="center" height="50px">
		<input type="button" name="saveBtn" value="保存" class="button" onclick="submitForm('addTestunitForm','${contextPath}/testunitmanage/saveTestunit',addTestunitForm.selectcolumns);"/>　
		<a href="${contextPath}/testunitmanage/testunitList" target="mainFrame" class="left-font03">查询测试单元信息</a>
     </td>
	</tr>
 </table>
</div>
</form>
</body>

</html>