
#foreach($item in ${testFlowParamList})
<div class="cell td">
	<div class="td" id="td_$!{item.testunitFlowId}">
		<div class="activate">
		
			<div class="basic">
				<img alt="$!{item.testunitFlowName}" class="fl tds-icon" src="${contextPath}/res/images/tm_50x50.jpg" />
				<div class="basic-info">
					<div class="title">
						<a href="${contextPath}/testunitFlow/$!{item.testunitFlowId}">$!{item.testunitFlowName}</a>
					</div>
					<div class="title-info">
						#foreach($itemTag in ${item.testunitFlowTags})
							<a href="${contextPath}/taskmanage/tags/$!{itemTag}" class="tdLable">$!{itemTag}</a>
						#end
					</div>
				</div>
				<img alt="Unfavorite" class="favorite_img favorite_$!{item.testunitFlowId}" name="disable" src="${contextPath}/res/images/unfavorite.png" />
			</div>
			
			<div class="title-info"> 所属系统： $!{item.systemName} </div>
			<div class="title-info"> 描述： $!{item.remark} </div>
			
			<div class="form-wrap">
				<form accept-charset="UTF-8" action="${contextPath}/taskmanage/submitTask" data-remote="true" method="post">
					<div style="margin: 0; padding: 0; display: inline">
						<input name="testunitFlowCaseId" type="hidden" value="$!{item.testunitFlowCaseId}" />
						<input name="systemEnvId" type="hidden" value="$!{item.systemEnvId}" />
					</div>
					<input id="td_$!{item.testunitFlowId}" name="testunitFlowId" type="hidden" value="$!{item.testunitFlowId}" />
					
					#foreach($itemUnit in ${item.testunitInfoVO.testunitParamInfoVOs})
						<ul class="alignment-left">
							<label class="table-head" for="td_param_$!{itemUnit.paramName}">$!{itemUnit.labelName}( $!{itemUnit.paramName} )</label>
							<li class="alignment-left-child">
							#if("textType"==$!{itemUnit.formCtrlType.key})
								<input class="Ptext" id="td_param_$!itemUnit.paramName" name="$!itemUnit.paramName" onkeydown="doInvoke(this)" 
										placeholder="" size="25" title="$!itemUnit.help" type="text" value="$!itemUnit.defaultValue"/>
							#else
								<select id="td_param_$!{itemUnit.paramName}" name="td_param_$!{itemUnit.paramName}" 
									onkeydown="doInvoke(this)" title="$!itemUnit.help">
									<option value=""></option>
									#foreach($itemUnitExt in ${itemUnit.testunitParamExtInfoVOs})
										<option value="$!{itemUnitExt.valueId}">$!{itemUnitExt.valueName}</option>
									#end
								</select>
							#end
							</li>
						</ul>
					#end
					
					<input class="ft-middle-btn m-r-10 fl pleft" name="commit" onclick="displayWaiting()" type="submit" value="调用" />
						<br /> 
						<br /> 
						<br />
				</form>
				
				<div class="dialog" id="td_result_$!{item.testunitFlowId}" title="调用结果："></div>
			</div>
		</div>
		
		<div class="detail-wrap">
			<div class="detail">
				<img alt="$!{item.userName}" class="fl author-icon" src="${contextPath}/res/images/use_img.jpg"/>
				 <span class="detail-info">作者：$!{item.userName}
				  <a href="http://www.taobao.com/webww/ww.php?ver=3&amp;touid=$!{item.wangwang}&amp;siteid=cntaobao&amp;status=1&amp;charset=utf-8" class="wangwang_link" target="_blank" title="$!{item.wangwang}">
				 	<img alt="$!{item.wangwang}" border="0" src="http://amos.alicdn.com/online.aw?v=2&amp;uid=$!{item.wangwang}&amp;site=cntaobao&amp;s=1&amp;charset=utf-8" />
				  </a>
				</span>
			</div>
		</div>
		
		<div class="toggle" style="display: none;">
			<span>≡</span>
		</div>
	</div>
</div>
#end



