<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="Content-Language" content="zh-CN"/>
    <title>TestMe-便捷测试平台</title>
</head>

<link href="${contextPath}/res/css/css.css" rel="stylesheet" type="text/css" />
<link href="${contextPath}/res/css/style.css" rel="stylesheet" type="text/css" />
<link href="${contextPath}/res/css/pagination.css" rel="stylesheet" type="text/css" />

</head>
<script type="text/javascript" src="${contextPath}/res/common/commonConfig.js"></script>
<script type="text/javascript">

function viewDetail(id) {
	location.href = "${contextPath}/taskmanage/detail/"  + id;
}

function deleteRecord(id) {
	if (confirm("确定要删除此条记录")) {
		document.fm.action = "${contextPath}/taskmanage/delete/"  + id;
		document.fm.submit();
	}
}

</script>


<body>
<form id="fom" name="fm" method="post" action="${contextPath}/taskmanage/list">
<div>
    <label name="resultMsg"><font color="red">$!resultMsg</font></label>
</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="30">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
			<td background="${contextPath}/res/images/testme_nav04.gif">
				<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
				</br>
				<tr>
				  <td width="80">所属系统：</td>
				  <td>
					<select name="systemId" style="width:180px;height:22px">
                          <option value="">==请选择==</option>
						  #foreach($systemDO in ${systemList})
							#if($!systemDO.id==$!testunitFlowCaseQuery.systemId)
								<option value="$!systemDO.id"  selected="selected">$!systemDO.name</option>
							#else
								<option value="$!systemDO.id">$!systemDO.name</option>
							#end
						  #end
					</select>
				  </td>
				  <td width="80">配置名称：</td>
				  <td>
					  <select name="systemEnvId" style="width:180px;height:22px">
	                  	<option value="">==请选择==</option>
						  #foreach($item in ${systemEnvList})
						  	<option value="$!item.id"
							  #if($!item.id ==$!testunitFlowCaseQuery.systemEnvId)
								 selected="selected"
							  #end 
							  >$!item.configName</option>
						  #end
					  </select>
				  
				  </td>
				  <td>&nbsp;</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
				  <td width="80">测试流程：</td>
				  <td>
					  <select name="testunitFlowId" style="width:180px;height:22px">
		                  <option value="">==请选择==</option>
						  #foreach($testunitFlow in ${testunitFlowList})
						  	<option value="$!testunitFlow.id"
							  #if($!testunitFlow.id == $!testunitFlowCaseQuery.testunitFlowId)
								 selected="selected"
							  #end 
							  >$!testunitFlow.name</option>
						  #end
					  </select>
				  </td>
				  <td width="80">执行状态：</td>
				  <td>
					<select name="testunitFlowCaseStatusEnum" style="width:180px;height:22px">
                          <option value="">==请选择==</option>
						  #foreach($item in ${statusList})
    						  #if($!item.key==$!testunitFlowCaseQuery.testunitFlowCaseStatusEnum.key)
    							<option value="$!item.key" selected="selected">$!item.name</option>
    						  #else
    							 <option value="$!item.key">$!item.name</option>
    						  #end
						  #end
					</select>	  
    				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="Submit4" type="submit" class="right-button02" value="查 询" /> 
				  </td>
				</tr>
				
			  </table>
			</td>
			</tr>
		</table>
		</br>
	</td>
  </tr>
  <tr>
    <td>
		<table id="subtree1"  width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
			<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="40" class="font42">
        				<table width="100%" class="tableFixClass" id="systemConfigTable" border="0" cellpadding="4" cellspacing="1" bgcolor="#464646">
        				  <col style="width: 10%" />
						  <col style="width: 12%" />
						  <col style="width: 10%" />
						  <col style="width: 10%" />
						  <col style="width: 10%" />
						  <col style="width: 10%" />
						  <col style="width: 15%" />
						  <col style="width: 15%" />
						  <col style="width: 8%" />
						  <tr class="CTitle" >
                            <td height="22" colspan="9" align="center" style="font-size:16px">配置信息列表</td>
                          </tr>
                          <tr bgcolor="#EEEEEE">
                            <td width="5%">测试单元流程编号</td>
        					<td width="15%">测试单元流程名称</td>
							<td width="10%">系统名称</td>
							<td width="10%">配置名称</td>
							<td width="5%">调用次数</td>
							<td width="10%">执行状态</td>
							<td width="10%">开始执行时间</td>
							<td width="10%">结束执行时间</td>
        					<td width="10%">操作</td>
                          </tr>
						  #foreach($item in $queryPage.datas)
                          <tr bgcolor="#FFFFFF">                       
        					<td>$!{item.id}</td>
        					<td>$!{item.testunitFlowName}</td>
                            <td>$!{item.systemName}</td>
                            <td>$!{item.systemEnvName}</td>
							<td>$!{item.invokeTimes}</td>
							<td>$!{item.status.name}</td>
							<td>$!{item.gmtStart}</td>
							<td>$!{item.gmtEnd}</td>
                            <td>
    							<a href="javascript:void(0)" onclick="viewDetail($!{item.id})"">查看</a> &nbsp;
    							<a href="javascript:void(0)" onclick="deleteRecord($!{item.id})">删除</a>
    						</td>
                          </tr>
						  #end
						</table>
    				</td>
				  </tr>
				</table>
			    <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
					<tr>
					  <td height="33" class="listPage" cellpadding="0" cellspacing="0">
						 $!{pageUtil.genPageToolbar(${queryPage}, 3)}
					  </td>
					</tr>
			    </table>
			</td>
	</tr>
</table>
</form>
</body>
</html>
