<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>TestMe-便捷测试平台</title>
</head>
<link href="${contextPath}/res/css/css.css" rel="stylesheet" type="text/css" />
<link href="${contextPath}/res/css/style.css" rel="stylesheet" type="text/css" />
<link href="${contextPath}/res/css/pagination.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="${contextPath}/res/common/commonConfig.js"></script>

<script type="text/javascript">
function goBack(){
	window.history.go(-1);
}
</script>
</head>

<body class="ContentBody">
<form  method="post">
<div>
    <label name="resultMsg"><font color="red">$!resultMsg</font></label>
</div>
<div class="MainDiv">
<table width="99%" border="0" cellpadding="0" cellspacing="0" class="CContent">
  <tr>
      <th class="tablestyle_title" >测试任务详情</th>
  </tr>
  <tr>
    <td class="CPanel">
		<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
		<tr>
			<td width="100%">
				<fieldset style="height:100%;">
				<legend>基本信息</legend>
					  <table border="0" cellpadding="2" cellspacing="1" style="width:100%">
						  <tr>
							<td nowrap align="right" width="13%" height="30px">所属系统:</td>
            				<td nowrap  height="30px" style="width:200px"> $!{testCaseVO.systemName} </td>
						  </tr>

    					  <tr>
    					    <td nowrap align="right" width="13%" height="30px">测试单元流程名称:</td>
							<td style="width:250px;height:30px"> $!{testCaseVO.testunitFlowName} </td>
							<td nowrap align="right" height="30px">配置名称:</td>
    					    <td style="width:250px;height:30px"> $!{testCaseVO.configName} </td>
						  </tr>

    					  <tr>
    					    <td nowrap align="right" width="13%" height="30px">作者:</td>
							<td height="30px"> $!{testCaseVO.userName} </td>
							<td nowrap align="right" height="30px" width="13%"></td>
							<td nowrap height="30px"></td>
    					  </tr>
						  <tr>
							<td height="30px" nowrap align="right" width="13%">测试单元流程描述:</td>
							<td height="30px"> $!{testCaseVO.remark} </td>
						  </tr>
					  </table>
					  <br />
				</fieldset>			
			</td>
		</tr>
		</table>
	 </td>
   </tr>
		<tr>
			<td width="100%">
				<fieldset style="height:100%;">
				<legend>执行结果</legend>
					  <table border="0" cellpadding="2" cellspacing="1" style="width:100%">
    					  <tr>
    					    <td nowrap align="right" width="13%" height="30px">任务执行结束时间:</td>
							<td style="width:250px;height:30px"> $!{testCaseVO.gmtStart} </td>
							<td nowrap align="right" height="30px">任务执行结束时间:</td>
    					    <td> $!{testCaseVO.gmtEnd} </td>
						  </tr>

						  <tr>
							<td nowrap align="right" width="13%" height="30px">任务执行状态:</td>
            				<td nowrap  height="30px" style="width:200px"> $!{testCaseVO.statusStr}  </td>
						  </tr>
    					  <tr>
    					    <td colspan="4">
								<table width="100%" class="tableFixClass" id="systemConfigTable" border="0" cellpadding="4" cellspacing="1" bgcolor="#464646">
		        				  <col style="width: 20%" />
								  <col style="width: 20%" />
								  <col style="width: 30%" />
								  <col style="width: 30%" />
								  <tr class="CTitle" >
		                            <td height="22" colspan="4" align="center" style="font-size:16px">配置信息列表</td>
		                          </tr>
		                          <tr bgcolor="#EEEEEE">
		        					<td width="20%">测试单元流程名称</td>
									<td width="20%">执行状态</td>
									<td width="30%">入参信息</td>
									<td width="30%">出参信息</td>
		                          </tr>
								  #foreach($item in $testCaseVO.testCaseDetailList)
		                          <tr bgcolor="#FFFFFF">                       
		        					<td>$!{item.testunitName}</td>
		                            <td>$!{item.statusStr}</td>
		                            <td>$!{item.inParam}</td>
		                            <td>$!{item.outParam}</td>
		                          </tr>
								  #end
								</table>
							</td>
    					  </tr>
					  </table>
					  <br />
				</fieldset>	
				<p>
			</td>
		</tr>
		<tr>
			<td align="center"> <input name="Submit4" type="button" class="right-button02" value="返回" onclick="goBack()" />	</td>
		</tr>
 </table>

</div>
</form>
</body>

</html>